{{ define "main" }}
<section class="intro">
  {{ .Content }}
</section>

<section class="post-list">
  <ul>
    {{ $pages := where .Site.RegularPages "Section" "in" (slice "tech" "language") }}
    {{ range $pages.ByDate.Reverse }}
      <li>
        <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</time>
        <a href="{{ .Permalink }}">{{ .Title }}</a>
        <span class="section-tag" style="font-size: 0.8em; color: gray;">[{{ .Section }}]</span>
      </li>
    {{ else }}
      <li class="post-list-empty">No posts yet.</li>
    {{ end }}
  </ul>
</section>
{{ end }}